/*#video-container
{
	position: fixed;
	width: 100%;
}*/

.overlay
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	height: 100%;
	width: 100%;
}

.hidden
{
	display: none;
}

#reticle
{
	overflow: auto;
	width: 200px;
	height: 200px;
	border: solid 2px purple;
}

#confirmScale
{
	margin-top: 2em;
}
#debugText
{
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: black;
	color: white;
}

#camera-stream
{
	position: fixed;
	width: 100%;
}