/*#video-container
{
	position: fixed;
	width: 100%;
}*/

.overlay
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto;
	height: 100%;
	width: 100%;
}

#reticle
{
	overflow: auto;
	width: 200px;
	height: 200px;
	border: solid 2px purple;
}

.resize-drag
{
	box-sizing: border-box;
}

#camera-stream
{
	position: fixed;
	width: 100%;
}